body{
	background-color: purple;
}

#wrapper{
	width: 90%;
	background-color: #fff;
	height: auto;
	margin: 0px auto;
}

.container{
  clear:both;
  overflow:auto;
}

.login{
	float: right;
}

.login ul li a{
	font-size: medium;
	color: #000;
}
.nav{
	float:left;
	padding-top: 30px;
	padding-left: 30px;
}

.logo img{
	float:left;
	padding-left: 5px;
	padding-top: 5px;
}

ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px; 
  font-family:raleway;
}

ul li a:hover{
  color:orange;
  cursor: pointer;
}

ul li a{
	text-decoration: none;
}

.slideshow{
	padding-left: 60px;
}

.section{
	width: 25%;
	height: auto;
	/*background-color: purple;*/
	margin: 20px 45px 10px 50px;
	float: left; 
	border: 1px solid #000;
	border-radius: 10px;
}

.section h3{
	text-align: center;
}

.section p{
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}


footer{
	background-color: cyan;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	clear: both;
}
